<!DOCTYPE html>
<html>
    <head>
        <title>Wanderlustoria by Timothy Hoang</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <p id="wander">Wanderlustoria</p>
