<!DOCTYPE html>
<html>
    <head>
        <title>Wanderlustoria by Timothy Hoang</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <p id="wander">Wanderlustoria</p>
