<% include ../partials/header %>

<h1>Wanderlustoria Page</h1>

<a href="/home"><button>Back To Home Page</button></a>
<a href="/wanderlustoria/new"><button>Add New City</button></a>
<a href="/cities"><button>View All Cities</button></a>

<% include ../partials/footer %>
