<% include ../partials/header %>

<h1>New City Page</h1>

<form action="/wanderlustoria" method="POST">
    <input type="text" name="nameCity" placeholder="nameCity">
    <input type="text" name="nameCountry" placeholder="nameCountry">
    <input type="text" name="description" placeholder="description">
    <button>Submit</button>
</form>

<a href="/wanderlustoria"><button>Back to Wanderlustoria</button></a>

<% include ../partials/footer %>