<% include partials/header %>

<form action="/destinations" method="POST">
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Photo Date" placeholder="Photo Date">
    <input type="text" name="Description" placeholder="Description">
    <button>Submit</button>
</form>

<% include partials/footer %>