<% include headerPartial %>

<div class="container">
    <div class="text-center">
      <h1 class="mt-3 py-1">Dashboard</h1>

      <div class="mb-5">
        <a href="/cities"><button class="btn btn-primary">Enter The Cities</button></a>
        <a href="/cities/new"><button class="btn btn-secondary">Add New City</button></a>
      </div>

    </div>
</div>

<% include footerPartial %>