<% include partials/header %>

<div class="header" id="header">
    <div class="header">
        <div class="overlay"></div>
        <div container>
            <div class="headline">
                <h1>A Travel Vision Platform</h1>                
                <a href="/wanderlustoria"><button type="button" class="btn btn-success">Enter Wanderlustoria</button></a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
