<!DOCTYPE html>
<html>
    <head>
        <title>Wanderlustoria by Timothy Hoang</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/intro.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Fira+Sans" rel="stylesheet">
    </head>
    <body>
        <div id="landing-header">
            <h1><span class="wander">Wander</span>lustoria</h1>
            <h3>Two weeks was never enough to begin with.</h3>
            <a href="/home"><button type="button" class="btn btn-success">Home Page</button></a>
            <a href="/wanderlustoria"><button type="button" class="btn btn-danger">Enter Wanderlustoria</button></a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>