<% include headerPartial %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
        <li class="breadcrumb-item"><a href="/cities"><button class="btn">Cities</button></a></li>
        <li class="breadcrumb-item"><a href="/cities/<%= city._id %>"><button class="btn btn-info"><%= city.name %>, <%= city.country %></button></a></li>
    </ol> 
</nav>

<div class="container">
    <div class="row">
        <div class="w-50 mx-auto text-center">
            <h1>New Story Page</h1>
            <form action="/cities/<%= city._id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="story[title]" placeholder="Story Title" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="story[locationName]" id="location" placeholder="Location Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="story[locationCity]" placeholder="Location City" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="story[locationCountry]" placeholder="Location Country" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="story[date]" placeholder="Date" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="story[body]" placeholder="Body" required></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" id="image" type="file" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footerPartial %>