<% include headerPartial %>

<h1>New Story Page</h1>

<form action="/stories" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="date" placeholder="date">
    <input type="text" name="location" placeholder="location">
    <input type="text" name="story" placeholder="story">
    <button>Submit</button>
</form>

<a href="/cities"><button>Back to Cities</button></a>

<% include footerPartial %>