<% include headerPartial %>

<div class="container">
    <div class="row">
        <div style="text-align: center; margin: 0 auto;">
            <h1>New City Page</h1>
            <form action="/wanderlustoria" method="POST">
                <div class="form-group">
                    <input type="text" name="city[name]" placeholder="City">
                </div>
                <div class="form-group">
                    <input type="text" name="city[country]" placeholder="Country">
                </div>
                <div class="form-group">
                    <input type="text" name="city[photo]" placeholder="Photo">
                </div>
                <div class="form-group">
                    <input type="text" name="city[description]" placeholder="Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary">Submit</button>
                </div>
            </form>
            <a href="/wanderlustoria"><button>Back to Wanderlustoria</button></a>
        </div>
    </div>
</div>

<% include footerPartial %>