<% include ../partials/header %>

<h1>City Page</h1>

<a href="/wanderlustoria"><button>Back To Wanderlustoria</button></a>
<a href="/cities/new"><button>Add New Story</button></a>


<% include ../partials/footer %>
