/* Globals */
body{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 65px !important;
    background:#f4f4f4;
    font-family: 'Fira Sans', sans-serif !important;
}
.container{
    display: block;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

/* Header */
.navbar{
    background: black;
    color: white;
    max-width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-link, .navbar-brand{
    color: white;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: lightgreen;
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}
.navbar .logo{
    color: lightcoral;
    text-shadow: 3px 3px 3px darkred;
    font-family: 'Black And White Picture', sans-serif;
}
.navbar .wander{
    color: lightgreen;
    text-shadow: 3px 3px 3px darkcyan;
}

/* Home */
#header{
    background-image: url("../images/wing.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
}
#header .overlay{
    position: absolute;
    margin: 0 auto;
    min-height: 60vh;
    min-width: 100%;
    background: rgba(244, 244, 244, 0.7);
}
#header .headline{
    position: absolute;
    top: 20%;
    right: 5%;
    left: 5%;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

/* Summary */
#summary{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
    width: 100%;
}
#summary p{
    padding-top: 1rem;
}

/* Features */
#features{
    margin: 0 auto;
    padding: 2rem 0;
    width: 100%;
}
#features .summary-icons{
    display:inline-block;
    text-align: center;
}
#features .checkmarks, 
#features p{
    text-align: left;
    list-style: none;
}

/* Start */
#start{
    width: 100%;
    padding: 2rem 0;
    font-size: x-large;
    text-align: center;
}

/* Contacts */
.contact-form{
    width: 100%;
    margin: 6em 0;
    /* position: relative;   */
}
.contact-form .left{
    text-align: right;
    border-right: 10px solid black;
}
.contact-form .right{
    max-width: 50%;
}

/* Footer */
#footer{
    text-align: center;
    background: black;
    color: white;
    padding: 0.5rem 0;
}

/* wanderlustoriaIndex */
#wanderlustoriaIndex .navButtons > * {
    margin: 0 3rem;
}