/* Landing */
body {
    background-color: #000 !important;
}

#landing-header {
    z-index:1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: lightcoral;
    text-shadow: 3px 3px 3px darkred;
    font-size: 5rem;
    font-family: 'Black And White Picture', sans-serif;
}
#landing-header .wander {
    color: lightgreen;
    text-shadow: 3px 3px 3px darkcyan;
}
#landing-header h3 {
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 1rem;
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
#landing-header button {
    font-size: 1.5rem;
    margin: 1rem;
}
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1){
    background-image: url("../images/venice.jpg");
}
.slideshow li:nth-child(2){
    background-image: url("../images/rio.jpg");
    animation-delay: 10s; 
}
.slideshow li:nth-child(3){
    background-image: url("../images/london.jpg");
    animation-delay: 20s; 
}
.slideshow li:nth-child(4){
    background-image: url("../images/bali.jpg");
    animation-delay: 30s; 
}
.slideshow li:nth-child(5){
    background-image: url("../images/rome.jpg");
    animation-delay: 40s; 
}

/* 0-10% 5 seconds fade in */
/* 10-20% 5 seconds stay opacity 1 */
/* 20-30% 5 seconds fade out */
@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
  }